@import url('https://css.gg/loadbar-doc.css');
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #263238;
    color: #FAFAFA;
    flex-direction: column;
    overflow: hidden;
}

button{
    border: 0;
    background: transparent;
    cursor: pointer;
}
.row{
    text-align: center;
    display: flex;
    justify-content: center;
}
.row > div{
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #34454e;
    margin: 4px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px #5e6e76;
}
.row > div.yellow{
    --background: #FFD54F;
    --border-color: #FFD54F;
    --color: #263238;
    animation: flip 0.5s ease forwards;
}
.row > div.green{
    --background: #33691E;
    --border-color: #33691E;
    --color: #263238;
    animation: flip 0.5s ease forwards;
}
.row > div.grey{
    --background: #757575;
    --border-color: #757575;
    --color: #263238;
    animation: flip 0.5s ease forwards;
}
.row > div:nth-child(2){
    animation-delay: 0.2s;
}
.row > div:nth-child(3){
    animation-delay: 0.4s;
}
.row > div:nth-child(4){
    animation-delay: 0.6s;
}
.row > div:nth-child(5){
    animation-delay: 0.8s;
}
.row.current > div.filled{
    animation: bounce 0.2s ease-in-out forwards;
}
.keypad{
    max-width: 500px;
    margin: 20px auto;
}

.keypad > button {
    margin: 5px;
    width: 40px;
    height: 40px;
    background: #34454e;
    display: inline-block;
    border-radius: 6px;
    line-height: 50px;
    text-align: center;
}
.keypad > button:last-child{
    width: 90px;
}

.keypad > button:focus {
    animation: bounce 0.2s ease-in-out forwards;
}
.keypad > .bounce-button {
    animation: bounce 0.2s ease-in-out forwards;
}

.keypad > button.green{
    --background: #33691E;
    --border-color: #33691E;
    background: #33691E;
    border-color: #33691E;
    --color: #263238;
    color: #263238;
    animation: all 0.5s ease forwards;
}

.keypad > button.yellow{
    --background: #FFD54F;
    --border-color: #FFD54F;
    background: #FFD54F;
    border-color: #FFD54F;
    --color: #263238;
    color: #263238;
    animation: all 0.5s ease forwards;
}
.keypad > button.grey{
    --background: #757575;
    --border-color: #757575;
    background: #757575;
    border-color: #757575;
    --color: #263238;
    color: #263238;
    animation: all 0.5s ease forwards;
}
.modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal div{
    max-width: 480px;
    max-height: 99%;
    background-color: #263238;
    padding: 40px;
    border-radius: 10px;
    margin: 1% auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.adsbygoogle {
    min-width: 250px;
    box-shadow: none !important;
}
.modal .ads {
    box-shadow: none;
}
.aswift_2_host{
    box-shadow: none;
}
iframe{
    box-shadow: none;
}
.modal p {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.modal p .solution {
    color: #33691E;
    font-weight: bold;
}
.modal button{
    background: #33691E ;
    border-color: #33691E;
    color: #FAFAFA;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
}

@keyframes flip{
    0%{
        transform: rotateY(0);
        background-color: #263238;
        color: #FAFAFA;
    }
    45%{
        transform: rotateY(90deg);
        background-color: #263238;
        color: #FAFAFA;
    }
    55%{
        transform: rotateY(90deg);
        background: var(--background);
        border-color: var(--border-color);
        color: var(--color);
    }
    100%{
        transform: rotateY(0);
        background: var(--background);
        border-color: var(--border-color);
        color: var(--color);
    }
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}